<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn btn-link"> <i class="fa fa-arrow-circle-o-left"></i> Back To DashBoard</a>
    </div>
    <div class="col-md-6">

    </div>
</div>

<div class="card">
    <div class="card-header">
        Add client
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit(clientForm)" #clientForm="ngForm">
            <div class="form-group">
                <label> First Name</label>
                <input type="text" class="form-control" name="firstName" #clientFirstName="ngModel"
                    [(ngModel)]="client.firstName" required minlength="2"
                    [class]="{'is-invalid':clientFirstName.errors && clientFirstName.touched}">
                <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
                    First Name is required.
                </div>
                <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">
                    First Name must be at least 2 character.
                </div>
            </div>
            <div class="form-group">
                <label> Last Name</label>
                <input type="text" class="form-control" name="lastName" #clientLastName="ngModel"
                    [(ngModel)]="client.lastName" required minlength="2"
                    [class]="{'is-invalid':clientLastName.errors && clientLastName.touched}">
                <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
                    Last Name is required.
                </div>
                <div [hidden]="!clientLastName.errors?.minlength" class="invalid-feedback">
                    Last Name must be at least 2 character.
                </div>
            </div>

            <div class="form-group">
                <label> Email</label>
                <input type="email" class="form-control" name="email" #clientEmail="ngModel" [(ngModel)]="client.email"
                    required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    [class]="{'is-invalid':clientEmail.errors && clientEmail.touched}">
                <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
                    Email is required.
                </div>
                <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
                    Enter a valid Email test@gmail.com
                </div>
            </div>
            <div class="form-group">
                <label> Phone Number</label>
                <input type="text" class="form-control" name="phone" #clientPhone="ngModel" [(ngModel)]="client.phone"
                    required minlength="8" [class]="{'is-invalid':clientPhone.errors && clientPhone.touched}">
                <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
                    Phone is required.
                </div>
                <div [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback">
                    Phone Number must be at least 8 .
                </div>
            </div>
            <div class="form-group">
                <label> Balance</label>
                <input type="number" class="form-control" name="balance" #clientBalance="ngModel"
                    [(ngModel)]="client.balance" required min="0"
                    [class]="{'is-invalid':clientBalance.errors && clientBalance.touched}"
                    [disabled]="disableBalanceOnAdd">

                <div [hidden]="!clientBalance.errors?.min" class="invalid-feedback">
                    The Balance min is 0.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit" [disabled]="clientForm.invalid"><i class="fa fa-save"></i>
                    Save</button>
            </div>
        </form>
    </div>
</div>